body{
    background-color: #ebebe0;
    display:flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: #494949;
    text-align: left;
    writing-mode: vertical-rl;
    text-orientation: upright;
    left: 0%;
    text-transform: uppercase;
}
.container{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px 250px;
    grid-gap: 30px;
    
}
.alubm-holder{
    position: absolute;
    left: 50%;
}
.album-1{
    grid-column: 1/2;
    background-color: #494949;;
    background-image: url("images/DarkLane.jpeg");  
   
}
.album-2{
    grid-column: 2/3;
    background-color: #494949;
    background-image: url("images/Scorpion.jpeg");
  }
.album-3{
    grid-column: 3/4;
    background-color: #494949;
    background-image: url("images/Views.jpeg");
  }
.album-4{
    grid-column: 1/2;
    background-color: #494949;
    background-image: url("images/CLB.jpeg");
}
.album-5{
    grid-column: 2/3;
    background-color: #494949;
    background-image: url("images/TooLate.jpeg");
}
.album-6{
    grid-column: 3/4;
    background-color: #494949;
    background-image: url("images/Care.jpeg");
}
.album-7{
    grid-column: 1/2;
    background-color: #494949;
    background-image: url("images/MoreLife.jpeg");
}
.album-8{
    grid-column: 2/3;
    background-color: #494949;
    background-image: url("images/Nothing.jpeg");
}
.album-9{
    grid-column: 3/4;
    background-color: #494949;
    background-image: url("images/TakeCare.jpeg");
}